---
title: Index Page
---
extends layouts/_layout
block content
  include ./home/flexyframe
  include ./home/guard
  include ./home/accident
  include ./home/award
  include ./home/cars
  include ./home/testimotionals
  include ./home/how
  include ./home/buy