.how
  .container
    background-color: white
    padding: 60px 45px
  .title
    margin-bottom: 50px
  .how__right-side
    padding-left: 30px
  .how__images
    display: flex
    flex-wrap: wrap
    .how__image-sm
      margin-right: 15px
      margin-bottom: 15px
      &:nth-of-type(4n)
        margin-right: 0