meta(charset="utf-8")
title= title || 'Template'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
<meta name="viewport" content="width=600, minimum-scale=0.3, maximum-scale=3, user-scalable=yes, target-densitydpi=device-dpi, ya-title=#000,ya-dock=#000">
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
link(rel="stylesheet" media="all" href="css/app.css")
