section.accident
    .container
        .row
           .col-md-7
               .accident__content
                   .row
                       .col-3
                           h2.title-number 90
                       .col
                           .accident__content_right
                               p.accident__text_red Don't let that happen to your car!
                               h2.title <span>90</span> percent
                               h3.subtitle of accidents occur in the Parking lot
                               a.btn-red(href="#") Shop Now
           .col-md-5.d-flex.justify-content-center
               .accident__image
                   img(src="img/accident.png", alt="accident")