section.award
    .container-fluid
        .row
            .col
                .award__image
                    img(src="img/award.png", alt="award")
            .col
                .award__content
                    .container
                        .row
                            .col-3
                                h2.title-number #1
                            .col
                                .award__content_right
                                    h2.title Award
                                    h3.subtitle Winning Heavy Duty Bumper Protector
                                    .row
                                        .col-4
                                            a.btn-red(href="#") Shop Now
                                        .col-3
                                            a.btn-link-underline(href="#") More Info