section.award
    .container-fluid
        .row
            .col-lg-6
                .award__image
                    img(src="img/award.png", alt="award")
            .col-lg-6.d-flex.justify-content-center
                .award__content
                    .award__content_right
                        .award__title
                            h2.title-number #1
                            h2.title Award
                        .award__under-title
                            h3.subtitle Winning Heavy Duty Bumper Protector
                            a.btn-red(href="#") Shop Now
                            a.btn-link-underline(href="#") More Info