section.banner
    .container
        .row
            .col-md-6
                .banner__content
                    .row
                        h1.banner__super-title #1 Award
                        h2.title Winning Heavy Duty Bumper Protector
                        p.banner__p Turn Your License Plate to a stylish Bumper Protector in less than 5 minutes
                    .row
                        a.btn-red(href="#") Shop Now
                        a.btn-white(href="#") More Info
        .row.justify-content-center
            .col-xl-3.col-sm-6
                .banner-item
                    .banner-item__img
                        img(src="img/wave.svg", alt="wave")
                    .banner-item__p Absorbs Impact & Prevents Damage
            .col-xl-3.col-sm-6
                .banner-item
                    .banner-item__img
                        img(src="img/frame.svg", alt="frame")
                    .banner-item__p Stealthy sleek, stylish and elegant
            .col-xl-3.col-sm-6
                .banner-item
                    .banner-item__img
                        img(src="img/bumper.svg", alt="bumper")
                    .banner-item__p Universal fit. Contours to your vehicle
            .col-xl-3.col-sm-6
                .banner-item.medal
                    .banner-item__img
                        img(src="img/medal.svg", alt="medal")
                    .banner-item__p Patented screw cap protection