section.buy
    .container
        .row.justify-content-between
            .col-lg-4
                .buy__content
                    h2.super-title buy now
                    h3.subtitle and forget about repairing the bumper
                    a.btn-red(href="#") Shop Now
            .col-lg-8
                .buy__image
                    img(src="img/buy.png", alt="buy")
                    .buy__details
                        p.old-price $39.99
                        p.price $34.99