section.buy
    .container
        .buy__content
            .row.justify-content-between
                .col-12
                    h2.super-title buy now
                    h3.subtitle and forget about repairing the bumper
            .row
                .col-lg-3
                    a.btn-red(href="#") Shop Now
                .col-lg-3.col-sm-6
                    .buy__image
                        img(src="img/buy-bumper.png", alt="buy-bumper")
                .col-lg-3.col-sm-6
                    .buy__details
                        p.old-price $39.99
                        p.price $34.99