section.container.buy
    .row
        .col-4
            .buy__content
                h2.super-title buy now
                h3.subtitle and forget about repairing the bumper
                a.btn-red(href="#") Shop Now
        .col-7.offset-1
            .buy__image
                img(src="img/buy.png", alt="buy")
                .buy__details
                    p.old-price $39.99
                    p.price $34.99