section.cars
    .container
        .row.justify-content-between.cars__heading
            .col-sm-6
                h2.title Fits on <span>Every Car</span>
            .col-sm-6.d-flex.justify-content-end
                a.btn-red-thin(href="#") More car brands
        .row.cars__container
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/nissan.svg", alt="Nissan")
                        p.btn-car__p Nissan
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/renault.svg", alt="Renault")
                        p.btn-car__p Renault
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/lexus.svg", alt="Lexus")
                        p.btn-car__p Lexus
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/mercedes.svg", alt="Mercedes-Benz")
                        p.btn-car__p Mercedes-Benz
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/toyota.svg", alt="Toyota")
                        p.btn-car__p Toyota
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/land.svg", alt="Land Rover")
                        p.btn-car__p Land Rover

                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/chevrolet.svg", alt="Chevrolet")
                        p.btn-car__p Chevrolet
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/mitsubishi.svg", alt="Mitsubishi")
                        p.btn-car__p Mitsubishi
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/opel.svg", alt="Opel")
                        p.btn-car__p Opel
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/volkswagen.svg", alt="Volkswagen")
                        p.btn-car__p Volkswagen

                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/mazda.svg", alt="Mazda")
                        p.btn-car__p Mazda
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/ford.svg", alt="Ford")
                        p.btn-car__p Ford


                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/hyundai.svg", alt="Hyundai")
                        p.btn-car__p Hyundai
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/citroen.svg", alt="Citroen")
                        p.btn-car__p Citroen
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/kia.svg", alt="KIA")
                        p.btn-car__p KIA
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/suzuki.svg", alt="Suzuki")
                        p.btn-car__p Suzuki
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/peugeot.svg", alt="Peugeot")
                        p.btn-car__p Peugeot
                .col-xl-2.col-md-3.col-sm-6.col.justify-content-center
                    a.btn-car(href="#")
                        .btn-car__logo
                            img(src="img/audi.svg", alt="Audi")
                        p.btn-car__p Audi