section.flexyframe
    .container
        .row
            .col-lg-2.col-12
                .row.justify-content-lg-center.align-items-center.justify-content-around
                    .duty
                        .duty__image
                            img(src="img/flexyframe/duty-heavy.png", alt="duty-heavy")
                        p.duty__p Heavy Duty
                    .duty
                        .duty__image
                            img(src="img/flexyframe/duty-light.png", alt="duty-light")
                        p.duty__p Light Duty
            .col-lg-5.col-12
                .duty-image_lg
                    img(src="img/flexyframe/duty-heavy.png", alt="duty-heavy")
            .col-lg-5.col-12
                h2.title Flexyframe HD
                p.flexyframe__p
                    | The bold and daring FlexyFrame HD is the perfect compliment to any vehicle. It measures 14 inches wide and 2.25 inches thick for a gallant and audacious appearance.
                p.old-price $39.99
                p.price $34.99
                .row
                    a.btn-red(href="#") Shop Now
                    a.btn-link-underline(href="#") More Info