section.guard.container
    .row.justify-content-center
        h2.title Bumper guard
    .row.justify-content-center
        .col-12
            .guard__image
                img(src="img/guard/guard.png", alt="guard")
    .row.justify-content-center
        .col-xl.col-lg-4.guard__item
            .item__image
                img(src="img/safety.svg", alt="safety")
            p.item__h3 Absorbs Impact & Prevents Damage
            p.item__p Avoid minor insurance claims from low speed rear end collisions. Its sturdy construction and flexible design will eliminate the hassle.

        .col-xl.col-lg-4.guard__item
            .item__image
                img(src="img/car.svg", alt="car")
            p.item__h3 Stealthy sleek, stylish and elegant
            p.item__p We did not want any crazy design that would take away the look from your beautiful vehicle, but would still perform as promised.

        .col-xl.col-lg-4.guard__item
            .item__image
                img(src="img/contours.svg", alt="contours")
            p.item__h3 Universal fit. Contours to your vehicle
            p.item__p Your plate is inside the rubber frame, no metal touches your car. Upon impact the rubber frame compresses from both sides reducing the probability of paint chipping on your front bumper.

        .col-xl.col-lg-4.guard__item
            .item__image
                img(src="img/patented.svg", alt="patented")
            p.item__h3 Patented screw cap protection
            p.item__p The US Patent #625,234, unique designed front rubber bolt guards will protect your plate mounting bolts from causing major damage to other vehicle.

        .col-xl.col-lg-4.guard__item
            .item__image
                img(src="img/weather.svg", alt="weather")
            p.item__h3 All weather
            p.item__p The NASA like rubber was formulated to withstand extreme cold temperatures of the North East and extreme heats of the South West without losing its shape.