section.container.how
    .row
        h2.title How it <span>looks</span>
    .row
        .col-8
            .how__image
                img(src="img/how/how.png", alt="how")
        .col-4
            .row
                .how__images
                    .how__image-sm
                        img(src="img/how/how-1.png", alt="how-1")
                    .how__image-sm
                        img(src="img/how/how-2.png", alt="how-2")
                    .how__image-sm
                        img(src="img/how/how-3.png", alt="how-3")
                    .how__image-sm
                        img(src="img/how/how-4.png", alt="how-4")
                    .how__image-sm
                        img(src="img/how/how-5.png", alt="how-5")
                    .how__image-sm
                        img(src="img/how/how-6.png", alt="how-6")
                    .how__image-sm
                        img(src="img/how/how-6.png", alt="how-6")
                    .how__image-sm
                        img(src="img/how/how-6.png", alt="how-6")
                    .how__image-sm
                        img(src="img/how/how-6.png", alt="how-6")
                    .how__image-sm
                        img(src="img/how/how-6.png", alt="how-6")
                    .how__image-sm
                        img(src="img/how/how-6.png", alt="how-6")
                    .how__image-sm
                        img(src="img/how/how-6.png", alt="how-6")
            .row
                a.btn-red(href="#") Shop Now