section.container.testimotionals
    .row.justify-content-between.testimotionals__heading
        .col-sm-6
            h2.title Testimotionals
        .col-sm-6.d-flex.justify-content-end
            a.btn-red-thin(href="#") More reviews
    .row
        .col-lg-4
            .review
                .review__rating
                    .star
                    .star
                    .star
                    .star
                    .star
                hr
                p.review__p Looks good Too: This really works, already had it save my bumper from a "park by feel" driver who was not even aware that she backed up into my car. No damage.
                .review__details
                    p.review__author Joe G.
                    p.review__date 9/1/2014 - Westbury, NY

        .col-lg-4
            .review
                .review__rating
                    .star
                    .star
                    .star
                    .star
                    .star
                hr
                p.review__p Looks good Too: This really works, already had it save my bumper from a "park by feel" driver who was not even aware that she backed up into my car. No damage.
                .review__details
                    p.review__author Joe G.
                    p.review__date 9/1/2014 - Westbury, NY

        .col-lg-4
            .review
                .review__rating
                    .star
                    .star
                    .star
                    .star
                    .star
                hr
                p.review__p Looks good Too: This really works, already had it save my bumper from a "park by feel" driver who was not even aware that she backed up into my car. No damage.
                .review__details
                    p.review__author Joe G.
                    p.review__date 9/1/2014 - Westbury, NY

        //.col-md-4.review
        //    .review__rating
        //        .star
        //        .star
        //        .star
        //        .star
        //        .star
        //    hr
        //    p.review__p Looks good Too: This really works, already had it save my bumper from a "park by feel" driver who was not even aware that she backed up into my car. No damage.
        //    .review__details
        //        p.review__author Joe G.
        //        p.review__date 9/1/2014 - Westbury, NY
